* {
    -fx-primary-color: #DE924D;
    -fx-secondary-color: #DDD4A6;
}

/*-----------------------------------------
Table view CSS
-------------------------------------------*/
.table-view {
    -fx-background-color: -fx-secondary-color;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: -fx-primary-color;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

/*-----------------------------------------
Date picker CSS
-------------------------------------------*/
.date-picker {
    -fx-background-color: transparent;
}

.date-picker .text-field {
    -fx-background-color: transparent;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
}

.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}

.date-picker .cell {
    -fx-background-color: white;
}

.date-picker .cell:hover {
    -fx-background-color: -fx-primary-color;
}

.date-picker .cell:focused {
    -fx-background-color: -fx-primary-color;
}

.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker-popup {
    -fx-border-color: transparent;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}